* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  display: block;
  /*column-count: 4;*/
  margin-top: 50px;
  padding: 30px;
  width: auto;
  height: auto;
  border: 3px solid #333;
}

#input {
  margin-top: 30px
}

.item {
  width:auto;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #666;
  text-align: center;
  background-color: rgb(205, 209, 208);
  cursor: pointer;
  transition: background-color 250ms linear;
}

 .item:hover {
  background-color: rgb(240, 236, 236);
}

.item:active {
  background-color: rgb(205, 209, 208);
}

.item-turned {
  background-color: rgb(212, 127, 238);
}

.item-turned:hover {
  background-color: rgb(212, 127, 238);
}

.itemText {
  display: block;
  padding: 40px;
}

.hidden {
  opacity: 0;
}

.inactive {
  pointer-events: none;
}
